@import url('//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;

}
button {
    border-radius: 10px;
    box-shadow: black 2px 1px 3px;
}